on:
  pull_request:
  push:
    branches:
      - main

name: Build
jobs:
  container:
    name: Container
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      packages: write
    steps:
      - name: Check out sources
        uses: actions/checkout@v6
        with:
          submodules: true
      - name: Set variables
        run: |
          echo "_tag=${GITHUB_SHA:0:7}" >> $GITHUB_ENV
          echo "_img=ghcr.io/cracicorp/atlas" >> $GITHUB_ENV
      - name: Use Docker in rootless mode
        uses: cracicorp/rootless-docker-action@main
      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: ${{ github.ref == 'refs/heads/main' }}
          tags: ${{ env._img }}:${{ env._tag }},${{ env._img }}:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
